@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --Purple100: hsl(254, 88%, 90%);
  --Purple500: hsl(256, 67%, 59%);
  --Yellow100: hsl(31, 66%, 93%);
  --Yellow500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body{
    min-height: 100vh;
    background-color: rgb(247, 250, 252);
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.bento{
    min-height: 37rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 200px);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    gap: 0.9rem;
}
.create{
   grid-column: 1 /2;
   grid-row: 1 / 4;
   background-color: var(--Yellow100);
   border-radius: 0.5rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   line-height: 1.8rem;
}
.create h1{
   font-size: 2rem;
   margin-top: 2rem;
   margin-left: 1rem;
   font-weight: 500;
   letter-spacing: -2px;
}
.create span{
   color: var(--Purple500);
   font-style: italic;
   font-weight: 400;
}
.create-img {
   width: 100%;
   height: 4.1rem;
   background-image: url("assets/images/illustration-create-post.webp");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 25%;
}
.social{
   grid-column: 2 /4;
   grid-row: 1 / 3;
   border-radius: 0.5rem;
   background-color: var(--Purple500);
   padding: 1.5rem 1rem;
}
.social h1{
   color: var(--White);
   font-weight: 500;
   font-size: 3rem;
   text-align: center;
   line-height: 2.7rem;
}
.social small{
   color: var(--Yellow500);
   font-size: 3rem;
}
.social span{
   font-style: italic;
}
.social-img{
   height: 1.5rem;
   width: 100%;
   background-image: url("assets/images/illustration-five-stars.webp");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   margin-top: 0.5rem;
}
.social p{
   text-align: center;
   font-size: 0.8rem;
   margin-top: 0.4rem;
   color: var(--Purple100);
}
.schedule{
   grid-row: 1 / 5;
   grid-column: 4 / 5;
   border-radius: 0.5rem;
   background-color: var(--Purple100);
   padding: 2.2rem 1rem;
   line-height: 1.4rem;
}

.Write{
   grid-column: 1 /2;
   grid-row: 4 / 7;
   border-radius: 0.5rem;
   background-color: var(--Yellow500);
   line-height: 1.8rem;
   display: flex;
   flex-direction: column;
   gap: 1.4rem;  
}
.Write h1{
   font-size: 2rem;
   padding: 1rem;
   font-weight: 500;
   letter-spacing: -2px;
}
.write-img{
   height: 11rem;
   width: 100%;
   background-image: url("assets/images/illustration-ai-content.webp");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   padding: 2rem;
}
.Manage{
   grid-column: 2 /3;
   grid-row: 3 / 5;
   border-radius: 0.5rem;
   background-color: var(--White);
   position: relative;
}
.Maintain{
   grid-column: 3 /4;
   grid-row: 3 / 5;
   background-color: var(--Yellow500);
   border-radius: 0.5rem;
} 
.faster{
   grid-column: 2 /3;
   grid-row: 5 / 7;
   border-radius: 0.5rem;
   background-color: var(--White);
   padding: 0.8rem;
}
.faster h1{
   font-size: 4rem;
   font-weight: 400;
}
.faster small{
   font-weight: 500;
}
.faster img{
   height: 3.6rem;
   width: 90%;
   margin-top: 1.5rem;
}
.grow{
   grid-row: 5 / 7;
   grid-column: 3 / 5;
   border-radius: 0.5rem;
   background-color: var(--Purple500);
   display: flex;
   align-items: center;
}
.grow h1{
   color: var(--White);
   font-size: 1.9rem;
   font-weight: 400;
   line-height: 1.8rem;
   margin-bottom: 2rem;
}
.grow-img{
   height: 10rem;
   width: 100%;
   margin-left: 1rem;
   background-image: url("assets/images/illustration-grow-followers.webp");
   background-repeat: no-repeat;
   background-size: contain;
}
